<div class="nav-container">
  <nav class="top-bar">
    <div class="container">

      <div class="row utility-menu">
        <div class="col-sm-12">
          <div class="utility-inner clearfix">
            <span class="alt-font"><i class="icon icon_pin"></i> The Federal Polytechnic Ado-Ekiti.PMB. 5351, Ado Ekiti, Ekiti State, Nigeria.</span>
            &nbsp;&nbsp;
            <span class="alt-font"><i class="icon icon_mail"></i> contact us on 08150668309</span>
          </div>
        </div>
      </div><!--end of row-->


      <div class="row nav-menu">
        <div class="col-sm-12 col-md-4 columns header_text">
          <a href="/" class="">
            CEC Payment Portal
          </a>
        </div>

        <div class="col-sm-12 col-md-7 columns">
          <ul class="menu">
            <li class=""><a href="/">Hints</a></li>
            <li class=""><a href="/payment">Payment</a>
            </li>
            <li class=""><a  href="/receipts">Receipt</a></li>
          </ul>

          <ul class="social-icons text-right">
            <li>
              <a href="#">
                <i class="icon social_twitter text-white"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon social_facebook text-white"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon social_instagram text-white"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!--end of row-->

      <div class="mobile-toggle">
        <i class="icon icon_menu"></i>
      </div>

    </div><!--end of container-->
  </nav>
</div>
