<div class="main-container">
  <section class="hero-slider hidden-xs hidden-sm">
    <ul class="slides">
      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" src="../../assets/img/hero17.jpg">
        </div>

        <div class="container align-vertical">
          <div class="row">
            <div class="col-md-6 col-sm-9">
              <h1 class="text-white bold f-w-20">
                THE FEDERAL POLYTECHNIC, ADO-EKITI -
                CEC payment Portal.
                <div class="f-s-22">Payment Made Easy.</div>
              </h1>
              <a href="/association" class="btn btn-primary btn-white">Payment</a>
              <a href="/receipts" class="btn btn-primary btn-filled">Receipt</a>
            </div>
          </div>
        </div><!--end of container-->
      </li><!--end of individual slide-->

      <!--end of individual slide-->

      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" src="../../assets/img/hero7.jpg">
        </div>

        <div class="container align-vertical">
          <div class="row">
            <div class="col-md-6 col-sm-9">
              <h1 class="text-white bold f-w-20">CEC payment Portal.</h1>
              <a href="/association" class="btn btn-primary btn-white">Payment</a>
              <a href="/receipts" class="btn btn-primary btn-filled">Receipt</a>
            </div>
          </div>
        </div><!--end of container-->
      </li><!--end of individual slide-->

      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" src="../../assets/img/hero9.jpg">
        </div>

        <div class="container align-vertical">
          <div class="row">
            <div class="col-md-6 col-sm-9">
              <h1 class="text-white bold f-w-20">THE FEDERAL POLYTECHNIC, ADO-EKITI.</h1>
              <a href="/association" class="btn btn-primary btn-white">Payment</a>
              <a href="/receipts" class="btn btn-primary btn-filled">Receipt</a>
            </div>
          </div>
        </div><!--end of container-->
      </li><!--end of individual slide-->
    </ul>
  </section>

  <section class="hidden-lg">
    <div class="row" style="margin-top: -13%;">
      <div class="col-md-12 text-center">
        <h3 class="bold f-s-20">
          <span class="bold">Welcome to the CEC Payment Portal</span>
          <br>
          <span class="bold site-color f-s-15">Payment Made Easy</span>
          <hr>
        </h3>
      </div>
    </div><!--end of row-->
    <img src="../../assets/img/1.png">
  </section>

  <section class="bg-secondary-2 duplicatable-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 clearfix">
          <div class="feature feature-icon-small">
            <i class="icon icon-phone"></i>
            <h6 class="text-white">Make Payment</h6>
            <p class="text-white">
              Click Payment, on the navigation bar and
              Fill in your details correctly.
            </p>
          </div><!--end of feature-->
        </div>

        <div class="col-md-4 col-sm-6 clearfix">
          <div class="feature feature-icon-small">
            <i class="icon icon_box-checked"></i>
            <h6 class="text-white">Confirm Details</h6>
            <p class="text-white">
              Confirm your details, click on Make Payment,
              and enter card details and make payment
            </p>
          </div><!--end of feature-->
        </div>

        <div class="col-md-4 col-sm-6 clearfix">
          <div class="feature feature-icon-small">
            <i class="icon icon-printer"></i>
            <h6 class="text-white">Print Receipt</h6>
            <p class="text-white">
              On successful payment, a Transaction ID will be generated and also sent to you via e-mail.
              Enter your Transaction ID and print receipt.
            </p>
          </div><!--end of feature-->
        </div>
      </div><!--end of row-->

    </div><!--end of container-->
  </section>

  <section class="side-image text-heavy clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-22 m-t-20">
          <div class="col-md-4">
            <img class="background-image" alt="Background Image" src="../../assets/img/pay.png" height="250">
          </div>
          <div class="col-md-8 clearfix">
            <h1 class="bold">Welcome to <span class="site-color">CEC</span> Payment Portal</h1>
            <p class="lead">
              Some introduction here......
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="duplicatable-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="bold">
            <i class="icon icon-key"></i>&nbsp; HINT
            <br>
            <span class="bold site-color f-s-15">How to make payment and print receipt</span>
          </h1>
          <hr>
        </div>
      </div><!--end of row-->

      <div class="row f-s-15">
        <div class="col-sm-10 col-lg-offset-1">
          <div class="p-15">
            <span class="bold">STEP 1:</span>
            Click on<span class="site-color bold"> Payment</span> on the Navigation bar
          </div>
          <div class="p-15">
            <span class="bold">STEP 2:</span>
            Fill in your details correctly
          </div>
          <div class="p-15">
            <span class="bold">STEP 3:</span>
            Click Proceed
          </div>
          <div class="p-15">
            <span class="bold">STEP 4:</span>
            Confirm your details and click on Make Payment
          </div>
          <div class="p-15">
            <span class="bold">STEP 5:</span>
            Enter card details and make payment
          </div>
          <div class="p-15">
            <span class="bold">STEP 6:</span>
            On successful payment, a Transaction ID will be generated and also sent to you via e-mail.
          </div>
          <div class="p-15">
            <span class="bold">STEP 7:</span>
            To print receipt, click <span class="bold site-color">Receipt</span>
          </div>
          <div class="p-15">
            <span class="bold">STEP 8:</span>
            Enter your Transaction ID
          </div>
          <div class="p-15">
            <span class="bold">STEP 9:</span>
            Click print
          </div>
        </div>
      </div><!--end of row-->
    </div>

  </section>
</div>
